body {background-color: hsla(261, 100%, 82%, 0.38);
      margin: 45px;}
footer {text-align: center;
        color: hsla(275, 100%, 25%, 1);
        font-family: 'Cinzel', serif;
        margin: 45px;
        border: 2px dashed hsla(265, 100%, 53%, 0.92);
        background-color: lavender;}
ul {list-style: none;
    color: hsla(261, 100%, 32%, 1);}
li::first-letter {color: hsla(261, 100%, 47%, 0.6);}
li {font-family: 'Pontano Sans', sans-serif;
    letter-spacing: -0.5px;}
header {text-align: center;
        margin: 45px;}
p::first-letter {color: hsla(261, 100%, 32%, 1);}
p {color: hsla(261, 100%, 40%, 0.6);
   text-align: center;
   font-family: 'Pontano Sans', sans-serif;
   letter-spacing: -1px;
   font-size: 20px;}
h1 {color: hsla(275, 100%, 25%, 1);
    letter-spacing: 15px;
    font-family: 'Cinzel', serif;;}
h2 {color: hsla(275, 100%, 36%, 0.68);
    letter-spacing: -2px;
    font-family: 'Cinzel', serif;;}
h3 {color: hsla(268, 100%, 43%, 0.45);
    font-family: 'Pontano Sans', sans-serif;
    letter-spacing: 6px;}
article {text-align: center;}
a:link {text-decoration: none;
        color: hsla(261, 100%, 40%, 0.6);
        background-color: lavender;
        font-family: 'Cinzel', serif;}
a:hover {text-decoration: line-through;
         color: hsla(265, 100%, 53%, 0.92);
         font-family: 'Cinzel', serif;}
a:visited {color: hsla(265, 100%, 53%, 0.92);
           font-family: 'Cinzel', serif;}
aside {position: fixed;
       top: 20px;
       right: 50px;
       background-color: lavender;}
figure {margin: 7em;}
figcaption {color: hsla(261, 100%, 40%, 0.6);
            letter-spacing: -1px;
            font-family: 'Pontano Sans', sans-serif;}
img:hover {opacity: 1;}
img { box-shadow: 10px 10px 5px hsla(275, 100%, 25%, 0.1); 
      opacity: 0.75;
      border: 8px solid hsla(265, 100%, 53%, 0.92);}