body {background-color: hsla(261, 100%, 82%, 0.38);}
footer {text-align: center;
        color: hsla(275, 100%, 25%, 1);}
ul {list-style: none;
    color: hsla(261, 100%, 32%, 1);}
li::first-letter {color: hsla(261, 100%, 47%, 0.6);}
header {text-align: center;}
p::first-letter {color: hsla(261, 100%, 32%, 1);}
p {color: hsla(261, 100%, 40%, 0.6);
   text-align: center;}
h1 {color: hsla(275, 100%, 25%, 1);
    letter-spacing: 15px;}
h2 {color: hsla(275, 100%, 36%, 0.68);
    letter-spacing: -2px;}
h3 {color: hsla(268, 100%, 43%, 0.45);
    font-family: helvetica;
    letter-spacing: 6px;}
article {text-align: center;}
a:link {text-decoration: none;
        color: hsla(261, 100%, 40%, 0.6);}
a:hover {text-decoration: line-through;
        color: hsla(265, 100%, 53%, 0.92);}
a:visited {color: hsla(265, 100%, 53%, 0.92);}
aside {position: fixed;
       top: 20px;
       right: 50px;}
figcaption {color: hsla(261, 100%, 40%, 0.6);
            letter-spacing: 2px;
            font-family: helvetica;}
img:hover {opacity: 1;}
img { box-shadow: 10px 10px 5px hsla(275, 100%, 25%, 0.1); 
      margin: 2em;
      opacity: 0.75;}